Repository williambdean/conjugate, pull requests merged in 2025-05, with the labels that each got.

#220 Adjust plot max based on current axes
  conjugate/plot.py
  tests/example-plots/test_analysis.png
  tests/example-plots/test_bayesian_update_example.png
  tests/example-plots/test_cdf_continuous.png
  tests/example-plots/test_cdf_discrete.png
  tests/example-plots/test_color_cycle_continuous.png
  tests/example-plots/test_color_cycle_discrete.png
  tests/example-plots/test_conditional_plot.png
  tests/example-plots/test_conditional_plot_cdf.png
  tests/example-plots/test_different_distributions.png
  tests/example-plots/test_dirichlet.png
  tests/example-plots/test_dirichlet_labels.png
  tests/example-plots/test_dirichlet_multiple_labels.png
  tests/example-plots/test_label.png
  tests/example-plots/test_large_discrete_x_axis.png
  tests/example-plots/test_multiple_labels_str.png
  tests/example-plots/test_multiple_with_labels.png
  tests/example-plots/test_polar_plot.png
  tests/example-plots/test_skip_label.png
Labels: enhancement, plotting

#221 Add Wikipedia Example
  .gitignore
  docs/examples/wiki-rental-car.md
  docs/examples/wiki-rental-car.py
  mkdocs.yml
  pyproject.toml
  uv.lock
Labels: docs

#224 rgba color support
  conjugate/plot.py
  tests/example-plots/test_rgba_colors.png
  tests/test_example_plots.py
Labels: enhancement, plotting

#227 update publish workflow
  .github/workflows/publish.yml
Labels: no releasenotes

#228 bandit example first version
  docs/examples/bandit.md
  docs/images/bandit.png
  mkdocs.yml
Labels: docs

#230 Correct distribution ref
  docs/examples/bandit.md
Labels: docs

#236 Add `narwhals` example
  docs/examples/generalized-inputs.md
  pyproject.toml
  uv.lock
Labels: docs
